<!doctype html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>Music Library</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/specific.css"/>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/ng-file-upload/ng-file-upload.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/chart.js/dist/Chart.js"></script>
    <script src="vendor/angular-chart.js/dist/angular-chart.js"></script>

    <script src="js/app.js"></script>

    <script src="components/albumsList.js"></script>
    <script src="components/songsList.js"></script>
    <script src="js/websocket.js"></script>
    <script src="partials/albumDetail.js"></script>
    <script src="partials/albumsOverview.js"></script>
    <script src="partials/artistsOverview.js"></script>
    <script src="partials/artistDetail.js"></script>
    <script src="partials/editAlbum.js"></script>
    <script src="partials/editArtist.js"></script>
    <script src="partials/homeController.js"></script>
    <script src="partials/songsOverview.js"></script>
    <script src="partials/editSong.js"></script>
    <script src="partials/myLibrary.js"></script>
    <script src="partials/addSong.js"></script>
    <script src="js/logout.js"></script>
</head>
<body>
<div class="col-lg-12">
    <div class="sidebar col-lg-4">
        <div data-ng-controller="websocketCtrl">
            <div ng-show="userRole === 'SUPER_USER' || userRole === 'ADMIN'">
                <input class="recommend-field" type="text" ng-model="songId" name="sId" />
                <input class="recommend-button do-btn" type="submit" ng-click="recommendSong(songId)" value="Recommend song" />
            </div>
            <div>
                <div ng-repeat="item in songs">
                    <div class="recommend-songname">{{item.song.title}}</div>
                    <div class="recommend-artist">{{item.song.artist.name}}</div>
                    <div class="recommend-who">{{getUserString(item)}}</div>
                    <div class="recommend-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8" data-ng-controller="logoutCtrl">
    <div class="header col-sm-12">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">Home</a>
                </div>

                <div class="collapse navbar-collapse navbar-hover-selected" id="js-navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li><a ng-href="#!/artistsOverview"><span class="glyphicon glyphicon-user"></span> Artists</a></li>
                        <li><a ng-href="#!/albumsOverview"><span class="glyphicon glyphicon-cd"></span> Albums</a></li>
                        <li><a ng-href="#!/songsOverview"><span class="glyphicon glyphicon-music"></span> Songs</a></li>
                        <li><a ng-href="#!/myLibrary"><span class="glyphicon glyphicon-book"></span> My Library</a></li>
                        <li><a ng-href="#!/about"><span class="glyphicon glyphicon-flag"></span> About</a></li>
                        <li><a ng-href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-sm-12">
        <div ng-view=""></div>
    </div>

    </div>
    <div class="footer col-lg-12">
        <div>
            <p>Martin Styk, Martin Štefanko, Lenka Heldová, Ondrej Oravčok <span
                    class="glyphicon glyphicon-registration-mark"></span> Music Library</p>
        </div>
    </div>
</div>

</body>
</html>