
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    padding: 0;
    height: 100%;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    text-align: center;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-color: #286090;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    color: #fff;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1050px) {
    .container {
        max-width: 1230px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* override */
.jumbotron {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vis-item {
    border-color: black;
}
.form-table td {
    padding: 12px 20px;
}

.form-table input {
    width: 450px
}
table {
    width: 100%;
}

.overview-table div {
    padding: 0px 20px;
    text-align: center;
}
.overview-table td {
    width: 45%;
}

.loader-div {
    text-align: center;
    padding-top: 10px
}

.timesheet-table tr {
    height: 1px;
}
.timesheet-data-td {
    vertical-align: middle;
}
.timesheet-date-td {
    border: 0 !important;
    font-size: 27px;
}
.timesheet-date-week-td {
    border: 0 !important;
    font-size: 27px;
    color: #d4514a;
}

.form-warning {
    color: #d4514a;
}

.input-button {
    width: 130px;
    margin: 15px 20px;
}


.do-btn {
    background-color: #286090;
    color: #fff;
    border-color: #204d74;
}

.do-btn:hover {
    color: #dddddd;
}

.remove-a {
    background-color: #d4514a;
    color: #fff;
    padding: 5px 11px 5px 10px;
}

.remove{
    margin: 15px 20px;
}

.remove-a:hover {
    color: #dddddd;
}

.reset-a {
    color: #d4514a;
    cursor: pointer;
    font-size: 18px;
}
.reset-a:hover {
    color: #a52d27;
}

.label-radio {
    font-weight: normal;
}

.label-radio input {
    margin-right: 5px;
}

.half-width {
    width: 50%;
}

.vertical-space-before {
    margin-top: 25px;
}

.button-width {
    width: 50px;
}
.button-width a {
    padding: 8px 11px 7px 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 21px;
}

.list-item-href {
    padding: 0;
}

.middle-icon-title {
    font-size: 40px;
}
.middle-icon-title span {
    vertical-align: middle;
}

#js-navbar-collapse a:hover,
#js-navbar-collapse a:focus {
    background-color: #ddd;
}

.create-job-alert {
    margin-bottom: 0px;
    padding: 3px;
    margin-top: 3px;
}
.create-job-alert .close {
    position: static;
}

.vis-labelset {
    width: 150px;
}

.sidebar {
    float: left;
    width: 320px;
    height: 100%;
    margin-right: 100px;
}

.album_table:hover {
    background-color: #d4dfe8;
}
.album_table .pointer {
    cursor: pointer;
}
.album_table .middle_text{
    padding: 18px 8px 18px 8px;
}
.album_table .overview-edit-btn:hover {
    text-shadow: 0 0 2px #286090; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #286090;
    -webkit-text-shadow: 0 0 2px #286090;
    color: #ffffff;
}

.music_header{
    padding-top: 15px;
}
.recommend-field {
    margin: 12px;
    padding: 6px 12px;
    width: 110px;
}

.recommend-button {
    width: 130px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px;
}

.recommend-label {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.recommend-songname {
    font-weight: bold;
}
.recommend-artist {
    font-variant: all-petite-caps;
    font-weight: 600;
    color: #286090
}
.recommend-who {
    font-style: oblique;
    color: #666666;
}
.recommend-line {
    width:100%;
    height:1px;
    background: #aaaaaa;
    margin-bottom: 5px;
    margin-top: 5px;
}
.filter {
    width:300px;
    margin: 10px 10px;
}

.detail-subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.link {
    cursor: pointer;
}