<h2>Semestral project for the PV243: JBoss - Advanced Java EE technologies - FI MUNI - spring 2017</h2>

<h3>Collaborators</h3>
<ul>
    <li>Lenka Heldová</li>
    <li>Ondrej Oravčok</li>
    <li>Martin Styk</li>
    <li>Martin Štefanko</li>
</ul>


<h3>Technologies</h3>

<ul>
    <li>Wildfly application server</li>
    <li>HTTP loadbalancing using Mod-Cluster</li>
    <li>WildFly maven plugin for simple usage</li>
    <li>Batching - obtain detailed artist biography from publicly available REST endpoints</li>
    <li>Rest API - all functionality is available via REST</li>
    <li>Rest client - call public REST API to get data from other applications</li>
    <li>WebSocket - recommend a song and get the latest recommendations from others</li>
    <li>Infinispan - cahce for storing active WebSocket sessions</li>
    <li>JMS - message driven beans doing asynchronous work</li>
    <li>Angular - modern front end</li>
    <li>Bean Validation - ensure defined constrains holds</li>
    <li>JPA - persistence layer</li>
    <li>Hibernate Search and Apache Lucene - advanced fuzzy queries and indexation</li>
    <li>Logging - JBoss enterprise logging</li>
    <li>Security - keeps your data safe</li>
    <li>Arquillian - automated testing</li>
</ul>