<div class="jumbotron">
    <table class="title-table">
        <tbody>
        <tr>
            <td class="button-width"></td>
            <td class="middle-icon-title">
                <span class="glyphicon glyphicon-cd"></span> Albums
            </td>
            <td class="button-width">
                <a title="Create new" class="btn-success" ng-href="#!/editAlbum"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' alert-dismissible'" >
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Album art</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Commentary</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="album in albums" class="album_table" ng-click="albumDetail(album.id)">
        <td><img ng-src="data:image/JPEG;base64,{{album.albumArt}}" height="40"/></td>
        <td class="middle_text">{{album.title}}</td>
        <td class="middle_text">{{album.artist.name}} ({{album.dateOfRelease | getYear}})</td>
        <td class="middle_text">{{album.commentary | limitTo: 60}}{{album.commentary.length > 60 ? '...' : ''}}</td>
        <td class="middle_text overview-edit-btn" ng-click="updateAlbum(album.id)"><span class="glyphicon glyphicon-tag"></span></td>
    </tr>
    </tbody>
</table>