<div class="jumbotron">
    <p class="music_header">
        {{album.title}} - {{album.artist.name}}
    </p>
</div>

<div>
    <div class="col-sm-3"><img ng-src="data:image/JPEG;base64,{{album.albumArt}}"/></div>
    <div class="col-sm-9" style="float:left;">
        <table class="form-table">
            <tbody>
            <tr>
                <td style="width: 80px">Title</td>
                <td style="width: 350px">{{album.title}}</td>
            </tr>
            <tr>
                <td>Artist</td>
                <td><a ng-click="artistDetail()" class="link">{{album.artist.name}} ({{album.artist.dateOfBirth}})</a></td>
            </tr>
            <tr>
                <td>Date of release</td>
                <td>{{album.dateOfRelease}}</td>
            </tr>
            <tr>
                <td>Commentary</td>
                <td>{{album.commentary}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 detail-subtitle">Songs</div>
    <div class="col-sm-12">
        <songs-list songs="songs" user-role="userRole" album-detail="true"></songs-list>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-3" ng-show="userRole === 'ADMIN'">
            <input class="form-control input-button" type="submit" ng-click="editAlbum()" value="Edit"/>
        </div>
    </div>
</div>
