<div class="jumbotron">
    <p class="music_header">
        {{doing}} album
    </p>
</div>

<div ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning') + ' alert-dismissible'">
    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{alert.title}} </strong>{{alert.msg}}
</div>

<div>
    <form name="form" class="css-form" novalidate>
        <div ng-if="doing !== 'Create'" class="col-sm-3"><img ng-src="data:image/JPEG;base64,{{album.albumArt}}"/>
        </div>
        <div class="col-sm-9" style="float:left;">
            <table class="form-table">
                <tbody>
                <tr>
                    <td style="width: 80px">Title</td>
                    <td style="width: 350px"><input class="form-control" type="text" ng-model="album.title"
                                                    name="aTitle"
                                                    required
                                                    placeholder="Title"/></td>
                    <td style="width: auto" class="form-warning">
                        <div ng-show="form.$submitted || form.aTitle.$touched">
                            <div ng-show="form.aTitle.$error.required">Title is required.</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Artist</td>
                    <td>
                        <select class="form-control" ng-model="album.artist"
                                ng-options="artist.name for artist in artists track by artist.id"
                                name="aArtist" required>
                            <option value="" disabled selected="selected">Select artist
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date of release</td>
                    <td><input class="form-control" ng-model="album.dateOfRelease" ng-pattern="dateRegex" type="text"
                               name="aDateOfRelease"
                               placeholder="Date of release (yyyy-MM-dd)" required/></td>
                    <td style="width: auto" class="form-warning">
                        <div ng-show="form.$submitted || form.aDateOfRelease.$touched">
                            <div ng-show="!form.aDateOfRelease.$valid">Wrong date format.</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Commentary</td>
                    <td><input class="form-control" type="text" ng-model="album.commentary" name="aCommentary"
                               placeholder="Comentary"/></td>
                    <td class="form-warning"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <div ng-show="doing == 'Create'" class="col-sm-12">
                <div class="col-sm-3">
                    <input class="form-control input-button" type="button" ng-click="reset(form)" value="Reset"/>
                </div>
                <div class="col-sm-9">
                    <input class="form-control input-button do-btn" type="submit"
                           ng-click="form.$invalid ? null : update()" value="Create"/>
                </div>
            </div>
            <div ng-hide="doing == 'Create'" class="col-sm-12">
                <div class="col-sm-3">
                    <input class="form-control input-button do-btn" type="submit"
                           ng-click="form.$invalid ? null : update()" value="Update"/>
                </div>
                <div class="col-sm-9">
                    <button class="btn remove-a remove" type="button" ng-click="removeAlbum()"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>
