<div class="jumbotron">
    <p class="lead">
        Create New Album
    </p>
</div>

<div>
    <form name="form" class="css-form" novalidate>
        <table class="form-table">
            <tbody>
            <tr>
                <td style="width: 80px">Title</td>
                <td style="width: 350px"><input class="form-control" type="text" ng-model="album.title" name="aTitle" required /></td>
                <td style="width: auto" class="form-warning">
                    <div ng-show="form.$submitted || form.aTitle.$touched">
                        <div ng-show="form.aTitle.$error.required">Title is required.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 80px">Commentary</td>
                <td style="width: 350px"><input class="form-control" type="text" ng-model="album.commentary" name="aCommentary" /></td>
                <td style="width: auto" class="form-warning"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <table>
                <tr ng-show="doing == 'create'">
                    <td align="right">
                        <input class="form-control input-button" type="submit" ng-click="reset(form)" value="Reset" />
                    </td>
                    <td align="left">
                        <input class="form-control input-button do-btn" type="submit" ng-click="form.$invalid ? null : update(album)" value="Create" />
                    </td>
                </tr>
                <tr ng-hide="doing == 'create'">
                    <td align="center">
                        <input class="form-control input-button do-btn" type="submit" ng-click="form.$invalid ? null : update(album)" value="Update" />
                    </td>
                    <td>
                        <a title="Remove" class="btn remove-a" ng-click="removeAlbum()"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>